@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "System Flag";
}
<div class="box_modify" ng-controller="SystemFlagController">
    <div class="fix-head-line">
        <div id="AdminBreadcrumb_DivBreadcrumbControl" class="breadcrumb-title breadcrumb-block">
            <a href="/Home">
                <i class="fa fa-home"></i>
            </a><i class="fa fa-angle-right"></i>
            <span>System Flag</span>
        </div>

        <div class="shotcut-btn">
            <div class="btn-group pb6">
                <a id="AddSystemFlag" class="AccessAdd head-btn" ng-click="SystemFlag.Methods.RedirecttoCreate()">
                    <i class="fa fa-plus"></i>
                    <span class="pl5">Add</span>
                </a>
            </div>
            <div class="btn-group mob-search-block">
                <div class="input-append searchdropdown">
                    <input type="text" placeholder="Search" ng-model="SystemFlag.Search" class="search-bar mt0">
                    <a class="add-on btn-search icon-search" ng-click="SystemFlag.Methods.GetSystemFlagSearch(0)">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="fix-body-line">
        <div class="action-block">
            <div class="btn-group allcheck">
                <input type="checkbox" ng-model="SystemFlag.Methods.allSelected" ng-model-options="{getterSetter: true}" />
            </div>
            <div class="btn-group mt-1">
                <select id="DDLAction" class="form-control" ng-change="SystemFlag.Methods.UpdateIsActiveStatus(SystemFlag.Action)" ng-model="SystemFlag.Action">
                    <option value="">Action</option>
                    <option>Active</option>
                    <option>Inactive</option>
                    <option>Delete</option>
                </select>
            </div>
        </div>
        <div class="pull-right plr15">
            <span class="lbl-small">Filter By</span>
            <div class="btn-group mt1">
                <select id="DDLFilterBy" class="form-control" ng-change="SystemFlag.Methods.GetSystemFlagSearch(0)" ng-model="SystemFlag.Filter">
                    <option>All</option>
                    <option>Active</option>
                    <option>Inactive</option>
                </select>
            </div>

            <span class="lbl-small">Page Size</span>
            <div class="btn-group mt1">
                <select id="DDLPageSize" class="form-control" ng-change="SystemFlag.Methods.GetSystemFlagSearch(0)" ng-model="SystemFlag.PageParams.FetchRecords" ng-options="page.id as page.name for page in SystemFlag.PageSize"></select>
            </div>
        </div>
    </div>

    <div class="nat-list" ng-repeat="item in SystemFlag.SystemFlag" ng-cloak>
        <div class="listviewDetails row-data mob-row-data">
            <div class="grid1">
                <div class="fold-upblock collapsed" data-toggle="collapse" data-target="{{ '#ItemSubList-' + item.ID }}">
                    <div class="iconplus">
                        <a title=""><span class="arrowplus" ng-click="SystemFlag.Methods.GetFlagGroupById(item.FlagGroupID)"></span></a>
                    </div>
                    <div class="namelist" style="margin-top: -28px;">
                        <span>{{item.SystemFlagName}}</span>
                    </div>
                </div>
                <div class="chk-action">
                    <input type="checkbox" ng-model="item.Selected">
                </div>
            </div>
            <div class="grid2">
                <div class="action-icon">
                    <input type="checkbox" ng-model="item.IsActive" ng-change="SystemFlag.Methods.SwitchStatus(item.ID,item.IsActive)" bootstrap-switch />
                    <a ng-click='SystemFlag.Methods.GetSystemFlagById(item.ID)' class="fa fa-edit"></a>
                    <a ng-click='SystemFlag.Methods.OpenDeleteDialog(item.ID)' class="fa fa-trash"></a>
                </div>
            </div>
        </div>

        <div id="{{ 'ItemSubList-' + item.ID }}" class="collapse">
            <div class="nat-sublist">

                <div class="row-data">
                    <div class="grid1">
                        <span class="list-sub-title">SystemFlag Name</span>
                        <div class="fa fa-double-angle-right  sublist-arrow"></div>
                    </div>
                    <div class="grid2"><span id="FlagGroupName" class="lbl-small">{{item.SystemFlagName}}</span></div>
                </div>

                <div class="row-data">
                    <div class="grid1">
                        <span class="list-sub-title">Default Value</span>
                        <div class="fa fa-double-angle-right  sublist-arrow"></div>
                    </div>
                    <div class="grid2">
                        <span id="Description" class="lbl-small">{{item.DefaultValue}}</span>
                    </div>
                </div>

                <div class="row-data">
                    <div class="grid1">
                        <span class="list-sub-title">Value</span>
                        <div class="fa fa-double-angle-right  sublist-arrow"></div>
                    </div>
                    <div class="grid2">
                        <span id="Description" class="lbl-small">{{item.Value}}</span>
                    </div>
                </div>

                <div class="row-data">
                    <div class="grid1">
                        <span class="list-sub-title">Display Order</span>
                        <div class="fa fa-double-angle-right  sublist-arrow"></div>
                    </div>
                    <div class="grid2">
                        <span id="Description" class="lbl-small">{{item.DisplayOrder}}</span>
                    </div>
                </div>

                <div class="row-data">
                    <div class="grid1">
                        <span class="list-sub-title">Flag Group Name</span>
                        <div class="fa fa-double-angle-right  sublist-arrow"></div>
                    </div>
                    <div class="grid2">
                        <span id="Description" class="lbl-small">{{SystemFlag.FlagGroupName}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div id="DivPageNumber" class="pagination_body ">
            <span id="LBLRecordsShow" class="total_record">Showing {{SystemFlag.PageParams.CurrentStartIndex + 1}} to {{SystemFlag.PageParams.CurrentEndIndex}} of Total {{SystemFlag.PageParams.TotalCount}} Records</span>
            <div id="DivCustomDataPager" class="page_block">
                <a ng-repeat="btn in SystemFlag.Buttons" ng-class='{active : SystemFlag.PageNo == btn.currentindex}' class="paginationbtn" ng-click="SystemFlag.Methods.GetSystemFlagSearch(btn.currentindex)">{{btn.currentindex}}</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/system-flag-js")
}  