@{
    Layout = "~/Views/Shared/ProviderLayout.cshtml";
    ViewBag.Title = "Assign ePROM";
    ViewBag.PageTitle = "Assign ePROM";
}

<div class="set-border-body" ng-app="app" ng-controller="patientController">
    <div ng-if="Patient.IsLoading" class="loading-box"> </div>

    <div class="set-border-margin">
        <form name="frmPatients">
            <button type="button" class="btn btn-yellow pull-right margin-bottom-2" onclick="window.location.href='/Provider/SearchPatient'">Add Patient</button>

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive" ng-show="Patient.Items.length > 0">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column sample_1">
                            <thead>
                                <tr>
                                    <th class="hidden"></th>
                                    <th> Patient </th>
                                    <th class="hide"> Middlename </th>
                                    <th> IHI No.</th>
                                    <th> Medicare No.</th>
                                    <th class="hide"> DOB </th>
                                    <th> Mobile </th>
                                    <th class="hide"> Gender</th>
                                    <th class="hide"> Post Code</th>
                                    <th>Email</th>
                                    <th class="hide"> Active </th>
                                    <th> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" ng-cloak="true" ng-repeat="item in Patient.Items">
                                    <td class="hidden"></td>
                                    <td>
                                        <a href="" class="font-blue text-decoration" ng-click="Patient.Methods.RedirecttoMyPatientDetails(item.PatientID,item.Patients.User.UserName)">{{item.Patients.User.FirstName}} {{item.Patients.User.LastName}}</a>
                                    </td>

                                    <td class="hide">
                                        {{item.Patients.User.MiddleName}}
                                    </td>
                                    <td>
                                        <span>{{item.Patients.IHINumber}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.Patients.MedicareNumber}}</span>
                                    </td>
                                    <td class="hide">
                                        <span>{{item.Patients.User.DOB | date: "d/M/yyyy" }}</span>
                                    </td>
                                    <td>
                                        <span>{{item.Patients.Contact.Mobile}}</span>
                                    </td>
                                    <td class="hide">
                                        {{item.Patients.User.Gender}}
                                    </td>
                                    <td class="hide">
                                        {{item.Patients.Address.ZipCode}}
                                    </td>
                                    <td>
                                        {{item.Patients.Contact.EmailPersonal}}
                                    </td>
                                    <td class="hide">
                                        <span>
                                            <md-checkbox md-no-ink aria-label="isActive" ng-model="item.Patients.IsActive" class="md-primary" disabled></md-checkbox>
                                        </span>
                                    </td>
                                    <td class="center">
                                        <button type="button" class="btn btn-blue-custom" ng-click="Patient.Methods.ViewPatientEprom(item.ProviderID,item.PatientID,item.Patients.User.FirstName,item.Patients.User.LastName, item.Patients.User.DOB, item.Patients.MedicareNumber,item.Patients.IHINumber)">Assign ePROM</button>
                                        <button type="button" ng-disabled="!item.SurvayList.length>0" class="btn btn-blue-custom" ng-class="{greymint: (!item.SurvayList.length>0)} " ng-click="Patient.Methods.RedirectToDashboard(item.Patients.ID)">View ePROM Results</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div> {{Patient.MessageData}} </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatable-js")
    @Scripts.Render("~/bundles/patient-js")
}